.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .welcome-message {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .create-poll-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-poll-button:hover {
    background-color: #0056b3;
  }